* {
  margin: 0px;
  padding: 0px;
}

.search-bar {
  width: 100%;
  padding: 5px 20px;
  background: white;
}

.search-results {
  width: 80%;
  margin: 0px auto;
}

.white {
  background: white;
}

.logo-img {
  max-width: 100px;
  margin-top: 20px;
}

.link {
  cursor: pointer;
}

.company-result-image::before {
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0.06667rem 0.13333rem 0 rgba(35, 47, 58, 0.2);
  box-sizing: content-box;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
}

.company-result-image {
  width: 7.46667rem;
  min-width: 7.46667rem;
  max-width: 7.46667rem;
  height: 7.46667rem;
  min-height: 7.46667rem;
  max-height: 7.46667rem;
  position: relative;
}

.company-result-image__image {
  background: #fff;
  border: 0.06667rem solid #fff;
  border-radius: 0.2rem;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.company-list .material-icons.md-icon {
  color: orange;
  vertical-align: top;
  font-size: 17px;
}

.company-list {
  width: 100%;
}

.center {
  text-align: center;
}

ul.pagination {
  list-style: none;
  border-radius: 4px;
  margin: 0 auto;
}

ul.pagination li {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
}

ul.pagination li a {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > .active > a {
  z-index: 3;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
  cursor: default;
}

.pagination > li > a:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.company-profile {
  width: 70%;
}

@media (max-width: 599px) {
  .search-results {
    width: 100%;
  }
  .company-profile {
    width: 100%;
  }
}
